<div class="navbar">
  <div class="navbar-brand">Finzly</div>
  <div class="navbar-menu">
    <div 
      class="navbar-item" 
      (click)="handleClick('Home')"
      [ngStyle]="{'font-size' : '18px'}"
    >
      Home
    </div>
    <div 
      class="navbar-item" 
      (click)="handleClick('Service')"
      [ngStyle]="{'font-size' : '18px'}"
      >
      Service
    </div>
    <div 
      class="navbar-item" 
      (click)="handleClick('Contact Us')"
      [ngStyle]="{'font-size' : '18px'}"
      >
      Contact
    </div>
  </div>
</div>

<div 
  class="selected-navbar-show"
  >
  {{str}}
</div>

<div class="two-way-data-binding">
  <input 
    type="text" 
    [(ngModel)]="userName" 
    (ngModelChange)="handleChange()"
    placeholder="Enter your name" />
</div>